In [5]:
import csv as csv
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, KFold, StratifiedKFold, cross_val_score
from sklearn.preprocessing import LabelEncoder, LabelBinarizer
from sklearn_pandas import DataFrameMapper

In [6]:
df_train = pd.read_csv('train.csv', header=0, index_col='PassengerId')
df_test = pd.read_csv('test.csv', header=0, index_col='PassengerId')
# concatenate the data
df = pd.concat([df_train, df_test], keys=["train", "test"])

In [7]:
df

                    Age        Cabin Embarked      Fare  \
      PassengerId
train 1            22.0          NaN        S    7.2500
      2            38.0          C85        C   71.2833
      3            26.0          NaN        S    7.9250
      4            35.0         C123        S   53.1000
      5            35.0          NaN        S    8.0500
      6             NaN          NaN        Q    8.4583
      7            54.0          E46        S   51.8625
      8             2.0          NaN        S   21.0750
      9            27.0          NaN        S   11.1333
      10           14.0          NaN        C   30.0708
      11            4.0           G6        S   16.7000
      12           58.0         C103        S   26.5500
      13           20.0          NaN        S    8.0500
      14           39.0          NaN        S   31.2750
      15           14.0          NaN        S    7.8542
      16           55.0          NaN        S   16.0000
      17            2.0          NaN        Q   29.1250
      18            NaN          NaN        S   13.0000
      19           31.0          NaN        S   18.0000
      20            NaN          NaN        C    7.2250
      21           35.0          NaN        S   26.0000
      22           34.0          D56        S   13.0000
      23           15.0          NaN        Q    8.0292
      24           28.0           A6        S   35.5000
      25            8.0          NaN        S   21.0750
      26           38.0          NaN        S   31.3875
      27            NaN          NaN        C    7.2250
      28           19.0  C23 C25 C27        S  263.0000
      29            NaN          NaN        Q    7.8792
      30            NaN          NaN        S    7.8958
...                 ...          ...      ...       ...
test  1280         21.0          NaN        Q    7.7500
      1281          6.0          NaN        S   21.0750
      1282         23.0          B24        S   93.5000
      1283         51.0          D28        S   39.4000
      1284         13.0          NaN        S   20.2500
      1285         47.0          NaN        S   10.5000
      1286         29.0          NaN        S   22.0250
      1287         18.0          C31        S   60.0000
      1288         24.0          NaN        Q    7.2500
      1289         48.0          B41        C   79.2000
      1290         22.0          NaN        S    7.7750
      1291         31.0          NaN        Q    7.7333
      1292         30.0           C7        S  164.8667
      1293         38.0          NaN        S   21.0000
      1294         22.0          NaN        C   59.4000
      1295         17.0          NaN        S   47.1000
      1296         43.0          D40        C   27.7208
      1297         20.0          D38        C   13.8625
      1298         23.0          NaN        S   10.5000
      1299         50.0          C80        C  211.5000
      1300          NaN          NaN        Q    7.7208
      1301          3.0          NaN        S   13.7750
      1302          NaN          NaN        Q    7.7500
      1303         37.0          C78        Q   90.0000
      1304         28.0          NaN        S    7.7750
      1305          NaN          NaN        S    8.0500
      1306         39.0         C105        C  108.9000
      1307         38.5          NaN        S    7.2500
      1308          NaN          NaN        S    8.0500
      1309          NaN          NaN        C   22.3583

                                                                Name  Parch  \
      PassengerId
train 1                                      Braund, Mr. Owen Harris      0
      2            Cumings, Mrs. John Bradley (Florence Briggs Th...      0
      3                                       Heikkinen, Miss. Laina      0
      4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)      0
      5                                     Allen, Mr. William Henry      0
      6                                             Moran, Mr. James      0
      7                                      McCarthy, Mr. Timothy J      0
      8                               Palsson, Master. Gosta Leonard      1
      9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2
      10                         Nasser, Mrs. Nicholas (Adele Achem)      0
      11                             Sandstrom, Miss. Marguerite Rut      1
      12                                    Bonnell, Miss. Elizabeth      0
      13                              Saundercock, Mr. William Henry      0
      14                                 Andersson, Mr. Anders Johan      5
      15                        Vestrom, Miss. Hulda Amanda Adolfina      0
      16                            Hewlett, Mrs. (Mary D Kingcome)       0
      17                                        Rice, Master. Eugene      1
      18                                Williams, Mr. Charles Eugene      0
      19           Vander Planke, Mrs. Julius (Emelia Maria Vande...      0
      20                                     Masselmani, Mrs. Fatima      0
      21                                        Fynney, Mr. Joseph J      0
      22                                       Beesley, Mr. Lawrence      0
      23                                 McGowan, Miss. Anna "Annie"      0
      24                                Sloper, Mr. William Thompson      0
      25                               Palsson, Miss. Torborg Danira      1
      26           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5
      27                                     Emir, Mr. Farred Chehab      0
      28                              Fortune, Mr. Charles Alexander      2
      29                               O'Dwyer, Miss. Ellen "Nellie"      0
      30                                         Todoroff, Mr. Lalio      0
...                                                              ...    ...
test  1280                                      Canavan, Mr. Patrick      0
      1281                               Palsson, Master. Paul Folke      1
      1282                                Payne, Mr. Vivian Ponsonby      0
      1283            Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1
      1284                             Abbott, Master. Eugene Joseph      2
      1285                                      Gilbert, Mr. William      0
      1286                                  Kink-Heilmann, Mr. Anton      1
      1287            Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0
      1288                                      Colbert, Mr. Patrick      0
      1289         Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1
      1290                            Larsson-Rondberg, Mr. Edvard A      0
      1291                                  Conlon, Mr. Thomas Henry      0
      1292                                   Bonnell, Miss. Caroline      0
      1293                                           Gale, Mr. Harry      0
      1294                            Gibson, Miss. Dorothy Winifred      1
      1295                                    Carrau, Mr. Jose Pedro      0
      1296                              Frauenthal, Mr. Isaac Gerald      0
      1297              Nourney, Mr. Alfred (Baron von Drachstedt")"      0
      1298                                 Ware, Mr. William Jeffery      0
      1299                                Widener, Mr. George Dunton      1
      1300                           Riordan, Miss. Johanna Hannah""      0
      1301                                 Peacock, Miss. Treasteall      1
      1302                                    Naughton, Miss. Hannah      0
      1303           Minahan, Mrs. William Edward (Lillian E Thorpe)      0
      1304                            Henriksson, Miss. Jenny Lovisa      0
      1305                                        Spector, Mr. Woolf      0
      1306                              Oliva y Ocana, Dona. Fermina      0
      1307                              Saether, Mr. Simon Sivertsen      0
      1308                                       Ware, Mr. Frederick      0
      1309                                  Peter, Master. Michael J      1

                   Pclass     Sex  SibSp  Survived              Ticket
      PassengerId
train 1                 3    male      1       0.0           A/5 21171
      2                 1  female      1       1.0            PC 17599
      3                 3  female      0       1.0    STON/O2. 3101282
      4                 1  female      1       1.0              113803
      5                 3    male      0       0.0              373450
      6                 3    male      0       0.0              330877
      7                 1    male      0       0.0               17463
      8                 3    male      3       0.0              349909
      9                 3  female      0       1.0              347742
      10                2  female      1       1.0              237736
      11                3  female      1       1.0             PP 9549
      12                1  female      0       1.0              113783
      13                3    male      0       0.0           A/5. 2151
      14                3    male      1       0.0              347082
      15                3  female      0       0.0              350406
      16                2  female      0       1.0              248706
      17                3    male      4       0.0              382652
      18                2    male      0       1.0              244373
      19                3  female      1       0.0              345763
      20                3  female      0       1.0                2649
      21                2    male      0       0.0              239865
      22                2    male      0       1.0              248698
      23                3  female      0       1.0              330923
      24                1    male      0       1.0              113788
      25                3  female      3       0.0              349909
      26                3  female      1       1.0              347077
      27                3    male      0       0.0                2631
      28                1    male      3       0.0               19950
      29                3  female      0       1.0              330959
      30                3    male      0       0.0              349216
...                   ...     ...    ...       ...                 ...
test  1280              3    male      0       NaN              364858
      1281              3    male      3       NaN              349909
      1282              1    male      0       NaN               12749
      1283              1  female      0       NaN            PC 17592
      1284              3    male      0       NaN           C.A. 2673
      1285              2    male      0       NaN          C.A. 30769
      1286              3    male      3       NaN              315153
      1287              1  female      1       NaN               13695
      1288              3    male      0       NaN              371109
      1289              1  female      1       NaN               13567
      1290              3    male      0       NaN              347065
      1291              3    male      0       NaN               21332
      1292              1  female      0       NaN               36928
      1293              2    male      1       NaN               28664
      1294              1  female      0       NaN              112378
      1295              1    male      0       NaN              113059
      1296              1    male      1       NaN               17765
      1297              2    male      0       NaN       SC/PARIS 2166
      1298              2    male      1       NaN               28666
      1299              1    male      1       NaN              113503
      1300              3  female      0       NaN              334915
      1301              3  female      1       NaN  SOTON/O.Q. 3101315
      1302              3  female      0       NaN              365237
      1303              1  female      1       NaN               19928
      1304              3  female      0       NaN              347086
      1305              3    male      0       NaN           A.5. 3236
      1306              1  female      0       NaN            PC 17758
      1307              3    male      0       NaN  SOTON/O.Q. 3101262
      1308              3    male      0       NaN              359309
      1309              3    male      1       NaN                2668

[1309 rows x 11 columns]

In [8]:
# new features from names
df['Title'] = df['Name'].apply(lambda c: c[c.index(',') + 2 : c.index('.')])
df['LastName'] = df['Name'].apply(lambda n: n[0:n.index(',')])
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
# replace missing data with the mode of the column
df.loc[df['Embarked'].isnull(), 'Embarked'] = df['Embarked'].mode()[0]
df.loc[df['Fare'].isnull(), 'Fare'] = df['Fare'].mode()[0]
# features for family
df['FamilyID'] = df['LastName'] + ':' + df['FamilySize'].apply(str)
df.loc[df['FamilySize'] <= 2, 'FamilyID'] = 'Small_Family'
# replace missing age data with median by title
df['AgeOriginallyNaN'] = df['Age'].isnull().astype(int)
medians_by_title = pd.DataFrame(df.groupby('Title')['Age'].median()) \
  .rename(columns = {'Age': 'AgeFilledMedianByTitle'})
df = df.merge(medians_by_title, left_on = 'Title', right_index = True) \
  .sort_index(level = 0).sort_index(level = 1)

df

                    Age        Cabin Embarked      Fare  \
      PassengerId
train 1            22.0          NaN        S    7.2500
      2            38.0          C85        C   71.2833
      3            26.0          NaN        S    7.9250
      4            35.0         C123        S   53.1000
      5            35.0          NaN        S    8.0500
      6             NaN          NaN        Q    8.4583
      7            54.0          E46        S   51.8625
      8             2.0          NaN        S   21.0750
      9            27.0          NaN        S   11.1333
      10           14.0          NaN        C   30.0708
      11            4.0           G6        S   16.7000
      12           58.0         C103        S   26.5500
      13           20.0          NaN        S    8.0500
      14           39.0          NaN        S   31.2750
      15           14.0          NaN        S    7.8542
      16           55.0          NaN        S   16.0000
      17            2.0          NaN        Q   29.1250
      18            NaN          NaN        S   13.0000
      19           31.0          NaN        S   18.0000
      20            NaN          NaN        C    7.2250
      21           35.0          NaN        S   26.0000
      22           34.0          D56        S   13.0000
      23           15.0          NaN        Q    8.0292
      24           28.0           A6        S   35.5000
      25            8.0          NaN        S   21.0750
      26           38.0          NaN        S   31.3875
      27            NaN          NaN        C    7.2250
      28           19.0  C23 C25 C27        S  263.0000
      29            NaN          NaN        Q    7.8792
      30            NaN          NaN        S    7.8958
...                 ...          ...      ...       ...
test  1280         21.0          NaN        Q    7.7500
      1281          6.0          NaN        S   21.0750
      1282         23.0          B24        S   93.5000
      1283         51.0          D28        S   39.4000
      1284         13.0          NaN        S   20.2500
      1285         47.0          NaN        S   10.5000
      1286         29.0          NaN        S   22.0250
      1287         18.0          C31        S   60.0000
      1288         24.0          NaN        Q    7.2500
      1289         48.0          B41        C   79.2000
      1290         22.0          NaN        S    7.7750
      1291         31.0          NaN        Q    7.7333
      1292         30.0           C7        S  164.8667
      1293         38.0          NaN        S   21.0000
      1294         22.0          NaN        C   59.4000
      1295         17.0          NaN        S   47.1000
      1296         43.0          D40        C   27.7208
      1297         20.0          D38        C   13.8625
      1298         23.0          NaN        S   10.5000
      1299         50.0          C80        C  211.5000
      1300          NaN          NaN        Q    7.7208
      1301          3.0          NaN        S   13.7750
      1302          NaN          NaN        Q    7.7500
      1303         37.0          C78        Q   90.0000
      1304         28.0          NaN        S    7.7750
      1305          NaN          NaN        S    8.0500
      1306         39.0         C105        C  108.9000
      1307         38.5          NaN        S    7.2500
      1308          NaN          NaN        S    8.0500
      1309          NaN          NaN        C   22.3583

                                                                Name  Parch  \
      PassengerId
train 1                                      Braund, Mr. Owen Harris      0
      2            Cumings, Mrs. John Bradley (Florence Briggs Th...      0
      3                                       Heikkinen, Miss. Laina      0
      4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)      0
      5                                     Allen, Mr. William Henry      0
      6                                             Moran, Mr. James      0
      7                                      McCarthy, Mr. Timothy J      0
      8                               Palsson, Master. Gosta Leonard      1
      9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2
      10                         Nasser, Mrs. Nicholas (Adele Achem)      0
      11                             Sandstrom, Miss. Marguerite Rut      1
      12                                    Bonnell, Miss. Elizabeth      0
      13                              Saundercock, Mr. William Henry      0
      14                                 Andersson, Mr. Anders Johan      5
      15                        Vestrom, Miss. Hulda Amanda Adolfina      0
      16                            Hewlett, Mrs. (Mary D Kingcome)       0
      17                                        Rice, Master. Eugene      1
      18                                Williams, Mr. Charles Eugene      0
      19           Vander Planke, Mrs. Julius (Emelia Maria Vande...      0
      20                                     Masselmani, Mrs. Fatima      0
      21                                        Fynney, Mr. Joseph J      0
      22                                       Beesley, Mr. Lawrence      0
      23                                 McGowan, Miss. Anna "Annie"      0
      24                                Sloper, Mr. William Thompson      0
      25                               Palsson, Miss. Torborg Danira      1
      26           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5
      27                                     Emir, Mr. Farred Chehab      0
      28                              Fortune, Mr. Charles Alexander      2
      29                               O'Dwyer, Miss. Ellen "Nellie"      0
      30                                         Todoroff, Mr. Lalio      0
...                                                              ...    ...
test  1280                                      Canavan, Mr. Patrick      0
      1281                               Palsson, Master. Paul Folke      1
      1282                                Payne, Mr. Vivian Ponsonby      0
      1283            Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1
      1284                             Abbott, Master. Eugene Joseph      2
      1285                                      Gilbert, Mr. William      0
      1286                                  Kink-Heilmann, Mr. Anton      1
      1287            Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0
      1288                                      Colbert, Mr. Patrick      0
      1289         Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1
      1290                            Larsson-Rondberg, Mr. Edvard A      0
      1291                                  Conlon, Mr. Thomas Henry      0
      1292                                   Bonnell, Miss. Caroline      0
      1293                                           Gale, Mr. Harry      0
      1294                            Gibson, Miss. Dorothy Winifred      1
      1295                                    Carrau, Mr. Jose Pedro      0
      1296                              Frauenthal, Mr. Isaac Gerald      0
      1297              Nourney, Mr. Alfred (Baron von Drachstedt")"      0
      1298                                 Ware, Mr. William Jeffery      0
      1299                                Widener, Mr. George Dunton      1
      1300                           Riordan, Miss. Johanna Hannah""      0
      1301                                 Peacock, Miss. Treasteall      1
      1302                                    Naughton, Miss. Hannah      0
      1303           Minahan, Mrs. William Edward (Lillian E Thorpe)      0
      1304                            Henriksson, Miss. Jenny Lovisa      0
      1305                                        Spector, Mr. Woolf      0
      1306                              Oliva y Ocana, Dona. Fermina      0
      1307                              Saether, Mr. Simon Sivertsen      0
      1308                                       Ware, Mr. Frederick      0
      1309                                  Peter, Master. Michael J      1

                   Pclass     Sex  SibSp  Survived              Ticket  \
      PassengerId
train 1                 3    male      1       0.0           A/5 21171
      2                 1  female      1       1.0            PC 17599
      3                 3  female      0       1.0    STON/O2. 3101282
      4                 1  female      1       1.0              113803
      5                 3    male      0       0.0              373450
      6                 3    male      0       0.0              330877
      7                 1    male      0       0.0               17463
      8                 3    male      3       0.0              349909
      9                 3  female      0       1.0              347742
      10                2  female      1       1.0              237736
      11                3  female      1       1.0             PP 9549
      12                1  female      0       1.0              113783
      13                3    male      0       0.0           A/5. 2151
      14                3    male      1       0.0              347082
      15                3  female      0       0.0              350406
      16                2  female      0       1.0              248706
      17                3    male      4       0.0              382652
      18                2    male      0       1.0              244373
      19                3  female      1       0.0              345763
      20                3  female      0       1.0                2649
      21                2    male      0       0.0              239865
      22                2    male      0       1.0              248698
      23                3  female      0       1.0              330923
      24                1    male      0       1.0              113788
      25                3  female      3       0.0              349909
      26                3  female      1       1.0              347077
      27                3    male      0       0.0                2631
      28                1    male      3       0.0               19950
      29                3  female      0       1.0              330959
      30                3    male      0       0.0              349216
...                   ...     ...    ...       ...                 ...
test  1280              3    male      0       NaN              364858
      1281              3    male      3       NaN              349909
      1282              1    male      0       NaN               12749
      1283              1  female      0       NaN            PC 17592
      1284              3    male      0       NaN           C.A. 2673
      1285              2    male      0       NaN          C.A. 30769
      1286              3    male      3       NaN              315153
      1287              1  female      1       NaN               13695
      1288              3    male      0       NaN              371109
      1289              1  female      1       NaN               13567
      1290              3    male      0       NaN              347065
      1291              3    male      0       NaN               21332
      1292              1  female      0       NaN               36928
      1293              2    male      1       NaN               28664
      1294              1  female      0       NaN              112378
      1295              1    male      0       NaN              113059
      1296              1    male      1       NaN               17765
      1297              2    male      0       NaN       SC/PARIS 2166
      1298              2    male      1       NaN               28666
      1299              1    male      1       NaN              113503
      1300              3  female      0       NaN              334915
      1301              3  female      1       NaN  SOTON/O.Q. 3101315
      1302              3  female      0       NaN              365237
      1303              1  female      1       NaN               19928
      1304              3  female      0       NaN              347086
      1305              3    male      0       NaN           A.5. 3236
      1306              1  female      0       NaN            PC 17758
      1307              3    male      0       NaN  SOTON/O.Q. 3101262
      1308              3    male      0       NaN              359309
      1309              3    male      1       NaN                2668

                    Title          LastName  FamilySize            FamilyID  \
      PassengerId
train 1                Mr            Braund           2        Small_Family
      2               Mrs           Cumings           2        Small_Family
      3              Miss         Heikkinen           1        Small_Family
      4               Mrs          Futrelle           2        Small_Family
      5                Mr             Allen           1        Small_Family
      6                Mr             Moran           1        Small_Family
      7                Mr          McCarthy           1        Small_Family
      8            Master           Palsson           5           Palsson:5
      9               Mrs           Johnson           3           Johnson:3
      10              Mrs            Nasser           2        Small_Family
      11             Miss         Sandstrom           3         Sandstrom:3
      12             Miss           Bonnell           1        Small_Family
      13               Mr       Saundercock           1        Small_Family
      14               Mr         Andersson           7         Andersson:7
      15             Miss           Vestrom           1        Small_Family
      16              Mrs           Hewlett           1        Small_Family
      17           Master              Rice           6              Rice:6
      18               Mr          Williams           1        Small_Family
      19              Mrs     Vander Planke           2        Small_Family
      20              Mrs        Masselmani           1        Small_Family
      21               Mr            Fynney           1        Small_Family
      22               Mr           Beesley           1        Small_Family
      23             Miss           McGowan           1        Small_Family
      24               Mr            Sloper           1        Small_Family
      25             Miss           Palsson           5           Palsson:5
      26              Mrs           Asplund           7           Asplund:7
      27               Mr              Emir           1        Small_Family
      28               Mr           Fortune           6           Fortune:6
      29             Miss           O'Dwyer           1        Small_Family
      30               Mr          Todoroff           1        Small_Family
...                   ...               ...         ...                 ...
test  1280             Mr           Canavan           1        Small_Family
      1281         Master           Palsson           5           Palsson:5
      1282             Mr             Payne           1        Small_Family
      1283            Mrs             Lines           2        Small_Family
      1284         Master            Abbott           3            Abbott:3
      1285             Mr           Gilbert           1        Small_Family
      1286             Mr     Kink-Heilmann           5     Kink-Heilmann:5
      1287            Mrs             Smith           2        Small_Family
      1288             Mr           Colbert           1        Small_Family
      1289            Mrs  Frolicher-Stehli           3  Frolicher-Stehli:3
      1290             Mr  Larsson-Rondberg           1        Small_Family
      1291             Mr            Conlon           1        Small_Family
      1292           Miss           Bonnell           1        Small_Family
      1293             Mr              Gale           2        Small_Family
      1294           Miss            Gibson           2        Small_Family
      1295             Mr            Carrau           1        Small_Family
      1296             Mr        Frauenthal           2        Small_Family
      1297             Mr           Nourney           1        Small_Family
      1298             Mr              Ware           2        Small_Family
      1299             Mr           Widener           3           Widener:3
      1300           Miss           Riordan           1        Small_Family
      1301           Miss           Peacock           3           Peacock:3
      1302           Miss          Naughton           1        Small_Family
      1303            Mrs           Minahan           2        Small_Family
      1304           Miss        Henriksson           1        Small_Family
      1305             Mr           Spector           1        Small_Family
      1306           Dona     Oliva y Ocana           1        Small_Family
      1307             Mr           Saether           1        Small_Family
      1308             Mr              Ware           1        Small_Family
      1309         Master             Peter           3             Peter:3

                   AgeOriginallyNaN  AgeFilledMedianByTitle
      PassengerId
train 1                           0                    29.0
      2                           0                    35.5
      3                           0                    22.0
      4                           0                    35.5
      5                           0                    29.0
      6                           1                    29.0
      7                           0                    29.0
      8                           0                     4.0
      9                           0                    35.5
      10                          0                    35.5
      11                          0                    22.0
      12                          0                    22.0
      13                          0                    29.0
      14                          0                    29.0
      15                          0                    22.0
      16                          0                    35.5
      17                          0                     4.0
      18                          1                    29.0
      19                          0                    35.5
      20                          1                    35.5
      21                          0                    29.0
      22                          0                    29.0
      23                          0                    22.0
      24                          0                    29.0
      25                          0                    22.0
      26                          0                    35.5
      27                          1                    29.0
      28                          0                    29.0
      29                          1                    22.0
      30                          1                    29.0
...                             ...                     ...
test  1280                        0                    29.0
      1281                        0                     4.0
      1282                        0                    29.0
      1283                        0                    35.5
      1284                        0                     4.0
      1285                        0                    29.0
      1286                        0                    29.0
      1287                        0                    35.5
      1288                        0                    29.0
      1289                        0                    35.5
      1290                        0                    29.0

In [9]:

# reseparate using keys
df_train = df.ix['train']
df_test  = df.ix['test']

In [11]:
df_train

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket,Title,LastName,FamilySize,FamilyID,AgeOriginallyNaN,AgeFilledMedianByTitle
PassengerId,,,,,,,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0.0,A/5 21171,Mr,Braund,2,Small_Family,0,29.0
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1.0,PC 17599,Mrs,Cumings,2,Small_Family,0,35.5
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1.0,STON/O2. 3101282,Miss,Heikkinen,1,Small_Family,0,22.0
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,1.0,113803,Mrs,Futrelle,2,Small_Family,0,35.5
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0.0,373450,Mr,Allen,1,Small_Family,0,29.0
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,0.0,330877,Mr,Moran,1,Small_Family,1,29.0
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1,male,0,0.0,17463,Mr,McCarthy,1,Small_Family,0,29.0
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3,male,3,0.0,349909,Master,Palsson,5,Palsson:5,0,4.0
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female,0,1.0,347742,Mrs,Johnson,3,Johnson:3,0,35.5
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female,1,1.0,237736,Mrs,Nasser,2,Small_Family,0,35.5
11,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,3,female,1,1.0,PP 9549,Miss,Sandstrom,3,Sandstrom:3,0,22.0
12,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,1,female,0,1.0,113783,Miss,Bonnell,1,Small_Family,0,22.0
13,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,3,male,0,0.0,A/5. 2151,Mr,Saundercock,1,Small_Family,0,29.0
14,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,3,male,1,0.0,347082,Mr,Andersson,7,Andersson:7,0,29.0
15,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,3,female,0,0.0,350406,Miss,Vestrom,1,Small_Family,0,22.0
16,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,2,female,0,1.0,248706,Mrs,Hewlett,1,Small_Family,0,35.5
17,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,3,male,4,0.0,382652,Master,Rice,6,Rice:6,0,4.0
18,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,2,male,0,1.0,244373,Mr,Williams,1,Small_Family,1,29.0
19,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,3,female,1,0.0,345763,Mrs,Vander Planke,2,Small_Family,0,35.5
20,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,3,female,0,1.0,2649,Mrs,Masselmani,1,Small_Family,1,35.5
21,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,2,male,0,0.0,239865,Mr,Fynney,1,Small_Family,0,29.0
22,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,2,male,0,1.0,248698,Mr,Beesley,1,Small_Family,0,29.0
23,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,3,female,0,1.0,330923,Miss,McGowan,1,Small_Family,0,22.0
24,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,1,male,0,1.0,113788,Mr,Sloper,1,Small_Family,0,29.0
25,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,3,female,3,0.0,349909,Miss,Palsson,5,Palsson:5,0,22.0
26,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,3,female,1,1.0,347077,Mrs,Asplund,7,Asplund:7,0,35.5
27,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,3,male,0,0.0,2631,Mr,Emir,1,Small_Family,1,29.0
28,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,1,male,3,0.0,19950,Mr,Fortune,6,Fortune:6,0,29.0
29,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,3,female,0,1.0,330959,Miss,O'Dwyer,1,Small_Family,1,22.0
30,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,3,male,0,0.0,349216,Mr,Todoroff,1,Small_Family,1,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,2,male,1,0.0,28134,Mr,Giles,2,Small_Family,0,29.0
863,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,1,female,0,1.0,17466,Mrs,Swift,1,Small_Family,0,35.5
864,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,3,female,8,0.0,CA. 2343,Miss,Sage,11,Sage:11,1,22.0
865,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,2,male,0,0.0,233866,Mr,Gill,1,Small_Family,0,29.0
866,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,2,female,0,1.0,236852,Mrs,Bystrom,1,Small_Family,0,35.5
867,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,2,female,1,1.0,SC/PARIS 2149,Miss,Duran y More,2,Small_Family,0,22.0
868,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,1,male,0,0.0,PC 17590,Mr,Roebling,1,Small_Family,0,29.0
869,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,3,male,0,0.0,345777,Mr,van Melkebeke,1,Small_Family,1,29.0
870,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,3,male,1,1.0,347742,Master,Johnson,3,Johnson:3,0,4.0
871,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,3,male,0,0.0,349248,Mr,Balkic,1,Small_Family,0,29.0
872,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,1,female,1,1.0,11751,Mrs,Beckwith,3,Beckwith:3,0,35.5
873,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,1,male,0,0.0,695,Mr,Carlsson,1,Small_Family,0,29.0
874,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,3,male,0,0.0,345765,Mr,Vander Cruyssen,1,Small_Family,0,29.0
875,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,2,female,1,1.0,P/PP 3381,Mrs,Abelson,2,Small_Family,0,35.5
876,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,3,female,0,1.0,2667,Miss,Najib,1,Small_Family,0,22.0
877,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,3,male,0,0.0,7534,Mr,Gustafsson,1,Small_Family,0,29.0
878,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,3,male,0,0.0,349212,Mr,Petroff,1,Small_Family,0,29.0
879,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,3,male,0,0.0,349217,Mr,Laleff,1,Small_Family,1,29.0
880,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,1,female,0,1.0,11767,Mrs,Potter,2,Small_Family,0,35.5
881,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,2,female,0,1.0,230433,Mrs,Shelley,2,Small_Family,0,35.5
882,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,3,male,0,0.0,349257,Mr,Markun,1,Small_Family,0,29.0
883,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,3,female,0,0.0,7552,Miss,Dahlberg,1,Small_Family,0,22.0
884,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,2,male,0,0.0,C.A./SOTON 34068,Mr,Banfield,1,Small_Family,0,29.0
885,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,3,male,0,0.0,SOTON/OQ 392076,Mr,Sutehall,1,Small_Family,0,29.0
886,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,3,female,0,0.0,382652,Mrs,Rice,6,Rice:6,0,35.5
887,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,2,male,0,0.0,211536,Rev,Montvila,1,Small_Family,0,41.5
888,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,1,female,0,1.0,112053,Miss,Graham,1,Small_Family,0,22.0
889,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,3,female,1,0.0,W./C. 6607,Miss,Johnston,4,Johnston:4,1,22.0
890,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,1,male,0,1.0,111369,Mr,Behr,1,Small_Family,0,29.0
891,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,3,male,0,0.0,370376,Mr,Dooley,1,Small_Family,0,29.0

In [13]:
X_train = df_train[df_train.columns.drop('Survived')]
y_train = df_train['Survived']

In [17]:
X_train

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Ticket,Title,LastName,FamilySize,FamilyID,AgeOriginallyNaN,AgeFilledMedianByTitle
PassengerId,,,,,,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,A/5 21171,Mr,Braund,2,Small_Family,0,29.0
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,PC 17599,Mrs,Cumings,2,Small_Family,0,35.5
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,STON/O2. 3101282,Miss,Heikkinen,1,Small_Family,0,22.0
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,113803,Mrs,Futrelle,2,Small_Family,0,35.5
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,373450,Mr,Allen,1,Small_Family,0,29.0
6,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,3,male,0,330877,Mr,Moran,1,Small_Family,1,29.0
7,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,1,male,0,17463,Mr,McCarthy,1,Small_Family,0,29.0
8,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,3,male,3,349909,Master,Palsson,5,Palsson:5,0,4.0
9,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,female,0,347742,Mrs,Johnson,3,Johnson:3,0,35.5
10,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,female,1,237736,Mrs,Nasser,2,Small_Family,0,35.5
11,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,3,female,1,PP 9549,Miss,Sandstrom,3,Sandstrom:3,0,22.0
12,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,1,female,0,113783,Miss,Bonnell,1,Small_Family,0,22.0
13,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,3,male,0,A/5. 2151,Mr,Saundercock,1,Small_Family,0,29.0
14,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,3,male,1,347082,Mr,Andersson,7,Andersson:7,0,29.0
15,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,3,female,0,350406,Miss,Vestrom,1,Small_Family,0,22.0
16,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,2,female,0,248706,Mrs,Hewlett,1,Small_Family,0,35.5
17,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,3,male,4,382652,Master,Rice,6,Rice:6,0,4.0
18,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,2,male,0,244373,Mr,Williams,1,Small_Family,1,29.0
19,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,3,female,1,345763,Mrs,Vander Planke,2,Small_Family,0,35.5
20,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,3,female,0,2649,Mrs,Masselmani,1,Small_Family,1,35.5
21,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,2,male,0,239865,Mr,Fynney,1,Small_Family,0,29.0
22,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,2,male,0,248698,Mr,Beesley,1,Small_Family,0,29.0
23,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,3,female,0,330923,Miss,McGowan,1,Small_Family,0,22.0
24,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,1,male,0,113788,Mr,Sloper,1,Small_Family,0,29.0
25,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,3,female,3,349909,Miss,Palsson,5,Palsson:5,0,22.0
26,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,3,female,1,347077,Mrs,Asplund,7,Asplund:7,0,35.5
27,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,3,male,0,2631,Mr,Emir,1,Small_Family,1,29.0
28,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,1,male,3,19950,Mr,Fortune,6,Fortune:6,0,29.0
29,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,3,female,0,330959,Miss,O'Dwyer,1,Small_Family,1,22.0
30,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,3,male,0,349216,Mr,Todoroff,1,Small_Family,1,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,2,male,1,28134,Mr,Giles,2,Small_Family,0,29.0
863,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,1,female,0,17466,Mrs,Swift,1,Small_Family,0,35.5
864,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,3,female,8,CA. 2343,Miss,Sage,11,Sage:11,1,22.0
865,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,2,male,0,233866,Mr,Gill,1,Small_Family,0,29.0
866,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,2,female,0,236852,Mrs,Bystrom,1,Small_Family,0,35.5
867,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,2,female,1,SC/PARIS 2149,Miss,Duran y More,2,Small_Family,0,22.0
868,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,1,male,0,PC 17590,Mr,Roebling,1,Small_Family,0,29.0
869,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,3,male,0,345777,Mr,van Melkebeke,1,Small_Family,1,29.0
870,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,3,male,1,347742,Master,Johnson,3,Johnson:3,0,4.0
871,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,3,male,0,349248,Mr,Balkic,1,Small_Family,0,29.0
872,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,1,female,1,11751,Mrs,Beckwith,3,Beckwith:3,0,35.5
873,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,1,male,0,695,Mr,Carlsson,1,Small_Family,0,29.0
874,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,3,male,0,345765,Mr,Vander Cruyssen,1,Small_Family,0,29.0
875,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,2,female,1,P/PP 3381,Mrs,Abelson,2,Small_Family,0,35.5
876,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,3,female,0,2667,Miss,Najib,1,Small_Family,0,22.0
877,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,3,male,0,7534,Mr,Gustafsson,1,Small_Family,0,29.0
878,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,3,male,0,349212,Mr,Petroff,1,Small_Family,0,29.0
879,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,3,male,0,349217,Mr,Laleff,1,Small_Family,1,29.0
880,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,1,female,0,11767,Mrs,Potter,2,Small_Family,0,35.5
881,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,2,female,0,230433,Mrs,Shelley,2,Small_Family,0,35.5
882,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,3,male,0,349257,Mr,Markun,1,Small_Family,0,29.0
883,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,3,female,0,7552,Miss,Dahlberg,1,Small_Family,0,22.0
884,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,2,male,0,C.A./SOTON 34068,Mr,Banfield,1,Small_Family,0,29.0
885,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,3,male,0,SOTON/OQ 392076,Mr,Sutehall,1,Small_Family,0,29.0
886,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,3,female,0,382652,Mrs,Rice,6,Rice:6,0,35.5
887,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,2,male,0,211536,Rev,Montvila,1,Small_Family,0,41.5
888,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,1,female,0,112053,Miss,Graham,1,Small_Family,0,22.0
889,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,3,female,1,W./C. 6607,Miss,Johnston,4,Johnston:4,1,22.0
890,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,1,male,0,111369,Mr,Behr,1,Small_Family,0,29.0
891,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,3,male,0,370376,Mr,Dooley,1,Small_Family,0,29.0